@model IEnumerable<MVC.Models.EmployeeMVC>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" />
        </div>
    </div>
</div>

<div id="employee_list_table">
    
</div>